In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [2]:
linnerud = datasets.load_linnerud()

In [9]:
X = pd.DataFrame(linnerud.data, columns=linnerud.feature_names)

In [10]:
X.head()

   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0

In [13]:
linnerud.target[0]

array([191.,  36.,  50.])